.fotter {
    margin: 50px auto 20px auto;
    padding: 10px;
    position: relative;
    width: 90%;
   max-width: 1200px;
    }
.fotter__socialHead {
    margin: 0;
    font-size: 1.8rem;
    color: #6c6c7a;
    font-weight: 700;
}
.fotter__social {
    padding: 0;
    list-style: none;
    display: flex;
    margin:20px 0 40px 0;    
}
.fotter__social a{
    font-size: 1.8rem;
    color: #aeaeb7;
    cursor: pointer;
    margin: 0 30px 0 0;
    transition: 0.25s;
}
.fotter__social a:hover {
    color: #18babd;
    transform: translateY(-5px);
}
.fotter__head {
    color: #aeaeb7  ;
    font-size: 1.5rem;
    text-align: center;
    font-weight:400;
    margin-top:50px;
}

@media screen and (max-width:600px) {
    .fotter__head {
        font-size: 1.2rem;
    }
 
}